@import url("fonts.css");

html, body {
    height: 100%;
    width: 100%;
    display: table;
}

body {
    background: url('../images/background.jpg');
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    padding-bottom: 70px;
}
/* Headers */

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 56px;
    padding-bottom: 30px;
    margin: 0;
}
/* Links */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #05a3fe;
}
.container {
    clear: both;
    padding: 0;
}
.overlay {
    background: black;
    opacity: 0.6;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}
.vid-button {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 15px;
    font-weight: bold;
    font-size: 18px;
}
.vid-button:hover,
.vid-button:visited {
    color: white;
    text-decoration: none;
}
.vid-blue {
    background: #059ce6;
}
.vid-blue:hover {
    background: #1fbbe6;
}
.vid-yellow {
    background: #ffd35b;
}
.vid-yellow:hover {
    background: #ffa82c;
}
.vid-red {
    background: #e54245;
}
.vid-red:hover {
    background: #e53122;
}
.vid-white {
    background: white;
    color: #999 !important;
}
.vid-white:hover {
    background: #fff;
    color: #333 !important;
}
.vid-black {
    background: black;
    color: #fff !important;
    border: 1px solid black !important;
}
.vid-black:hover {
    background: #333;
    color: #fff !important;
    border: 1px solid #333 !important;
}
.rounded {
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
}
.rounded .fa {
    vertical-align: middle;
}

.pill {
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 5px 20px 9px;
    margin-left: 20px;
    line-height: 1;
}
.pill:hover {
    color: white;
}

/* Header */
#viddyoze_header {
    padding: 0 15px;
}
#viddyoze_header .viddyoze-logo {
    font-size: 130px;
    height: 60px;
    padding-left: 0;
    padding-top: 20px;
}
#viddyoze_header nav {

}
/* Logo */
.viddyoze-logo {
    font-size: 190px;
    color: #373f47;
    line-height: 1;
    height: 49px;
    position: relative;
    z-index: 9800;
    padding-left: 15px;
    overflow: hidden;
}
.viddyoze-logo span {
    text-indent: -9999px;
    display: block;
}
.window-close {
    color: #999;
    font-size: 18px;
    position: absolute;
    right: 23px;
    top: 23px;
    z-index: 9000;
}

/* Top navigation */
.top-vid-nav * {
    display: inline-block;
    vertical-align: top;
}
.top-vid-nav li {
    padding: 0 10px;
}
.top-vid-nav li a {
    display: inline-block;
    padding: 14px 12px;
    border-top: 3px solid transparent;
    font-size: 14px;
    line-height: 1;
    color: #666;
}
.top-vid-nav li a .icon {
    font-size: 11px;
    vertical-align: middle;
}
.top-vid-nav li a small {
    font-size: 11px;
    color: #999;
    display: block;
    padding-left: 22px;
    line-height: 1;
    margin-top: -2px;
}
.top-vid-nav li a .icon.icon-movies {
    font-size: 17px;
    position: relative;
    top: -1px;
}
.top-vid-nav li a.active,
.top-vid-nav li a.active:hover {
    border-color: #000;
    color: black;
}
.top-vid-nav li a:hover {
    border-color: #eee;
}
.user-avatar {
    padding-top: 4px;
}
.user-avatar .image {
    border-radius: 50%;
    border: 3px solid #eaeaea;
    overflow: hidden;
}
.user-area * {
    vertical-align: middle;
}
.user-area a {
    color: black;
    padding: 3px 5px;
    vertical-align: middle;
}
.user-area .image {
    margin-right: 10px;
}
.user-area .icon-settings {
    font-size: 18px;
}
.user-area .user-avatar {
    color: #999;
}
.user-area .logout {
    color: #999;
    margin: -5px 5px;
    font-size: 17px;
    vertical-align: text-bottom;
    position: relative;
    top: -1px;
}
.user-area .logout:hover {
    color: #e54245;
}
.user-avatar:hover {
    color: #333;
}
.user-avatar:hover .image {
    border-color: #333;
}

/* Customizing the tabs */
.selection-tabs {
    text-align: center;
    border: 0;
    margin-top: 30px;
}
.selection-tabs > li {
    display: inline-block;
    float: none;
    margin: 0 10px;
}
.selection-tabs > li > a {
    background: transparent;
    border-bottom: 1px solid transparent;
    padding: 10px 40px;
    font-weight: 700;
    color: #666;
    width: 210px;
}
.selection-tabs > li > a:hover {
    background: rgba(255, 255, 255, .5);
    border-color: transparent transparent white;
}
.selection-tabs > li.active > a,
.selection-tabs > li.active > a:focus,
.selection-tabs > li.active > a:hover {
    background: none;
    color: black;
    border-color: transparent transparent black;
    border-bottom-width: 4px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
    vertical-align: top;
}
.col-fixed {
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
}

[class*="col-"] {
    padding-top:10px;
    padding-bottom:15px;
}
.item {
    width:100%;
    height: 270px;
    background-color: #363E47;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding:16px 8px;
    position: relative;
}
.item .vid-button {
    position: absolute;
    padding: 11px 15px;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    bottom: -20px;
    left: 25px;
    right: 25px;
}
/* content styles */
.item, .preview-box {
    display:table;
}
.item-header h2 {
    font-size: 18px;
    font-weight: 700;
}
.item-header .icon-play {
    font-size: 12px;
    vertical-align: middle;
}
.content {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #059ce6;
}

.color-picker-set * {
    border: 0;
    background: none;
}
.color-picker-set .selected-element-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    color: white;
}
.color-picker-set {
    border-bottom: 3px solid black;
}
.color-picker-set.input-group .form-control {
    box-shadow: none;
}
.color-picker-set .dropdown-menu > li > a {
    color: white;
    padding-left: 33px;
}
.color-picker-set .dropdown-menu > li > a:hover {
    background: black;
}

.configuration-nav li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px !important;
    font-size: 16px;
    font-weight: 300;
}
.configuration-nav li a {
    padding: 6px 20px 7px;
    color: #333;
    line-height: 1;
    display: inline-block;
    margin-top: 10px;
    font-weight: 400;
}
.configuration-nav li a .count {
    color: #ccc;
    margin-left: 5px;
}
.configuration-nav li a:hover {
    color: #000;
    background: #eee;
}
.configuration-nav li .icon {
    vertical-align: middle;
    margin-right: 5px;
}
.configuration-nav li.disabled {
    opacity: .5;
    padding-right: 15px;
    margin-top: 13px;
}
.configuration-nav li.disabled.pull-right {
    padding-right: 0;
    text-align: right;
    margin-right: 0 !important;
    margin-top: 14px;
}
.configuration-nav {
    overflow: hidden;
    margin: 0 0 15px;
    padding: 2px 25px 13px;
    color: #999;
}

/* Let's style the labels */
.custom-label {
    cursor: pointer;
    font-weight: 400;
    line-height: 1;
}
.custom-label img {
    vertical-align: text-bottom;
    position: relative;
    top: -1px;
}
.custom-label:before,
.custom-label.right-check:after {
     font-family: "viddyoze" !important;
     content: "j";
     font-size: 20px;
     vertical-align: middle;
     line-height: 1;
     font-weight: 300;
     color: #666;
     margin-right: 3px;
     position: relative;
     top: -1px;
 }
.custom-label.right-check:before,
.custom-label.right-check.checked:before {
    display: none;
}
.custom-label.right-check:after {
    margin-left: 20px;
}
.custom-label.checked,
.custom-label.checked:before {
     content: "i";
     color: #05A3FC;
 }
.custom-label.right-check.checked,
.custom-label.right-check.checked:after {
    content: "i";
    color: #05A3FC;
}
.custom-label.right-check.checked .text-uppercase {
    color: #05A3FC;
}
.custom-label input {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.shadow-block {
    background-color: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.09);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.09);
    vertical-align: top;
    padding: 16px 0;
}
.shadow-block .content {
    vertical-align: top;
}
.confirm-bottom {
    text-align: center;
    width: 330px;
    margin: 30px auto 60px;
}
.confirm-bottom a {
    margin-bottom: 20px;
}
.confirm-bottom span {
    display: block;
    padding-bottom: 15px;
    color: #999;
}

/* Inputs */
.input-group {
    width: 100%;
    position: relative;
}
.input-group .input-group-addon {
    position: absolute;
    left: 1px;
    top: 10px;
    z-index: 1;
}
.input-group .input-group-addon + .form-control {
    padding: 21px 20px 18px 55px;
    height: auto;
    background: rgba(255, 255, 255, .6);
    position: relative;
    z-index: 2;
}

.input-group * {
    border: 0;
    background: white;
    box-shadow: none;
}
input {
    font-family: 'Source Sans Pro', sans-serif;
}
.vid-login h2 + .input-group .form-control {
    border-top: 0;
}
.input-group .form-control {
    border-bottom: 4px solid transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.input-group .form-control:focus {
    border-bottom-color: #333;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}
.input-group-addon {
    width: 37px;
    text-align: center;
    padding: 12px 0 12px 21px !important;
}

a.single-outline {
    border: 1px solid #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    color: #666;
    padding: 4px 18px;
    text-transform: uppercase;
    margin-left: 15px;
}
a.single-outline.load-more {
    margin-top: 20px;
    opacity: .5;
    display: inline-block;
    border: 1px solid #666;
    margin-bottom: 5px;
}
a.single-outline.load-more:hover {
    opacity: 1;
    border-color: black;
}

.table-header {
    padding-left: 40px;
}

.panel-head {
    font-size: 24px;
    color: #777;
    padding: 0 0 5px;
    text-align: left;
    font-weight: 300;
}

/* Responsive fixes */
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    #viddyoze_header nav ul {
        margin: 0;
        padding: 0;
    }
    #viddyoze_header .viddyoze-logo {
        margin: 15px auto 0;
        display: block;
        float: none !important;
        text-align: center;
        padding-top: 0;
    }
}
