@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);

@charset "UTF-8";

@font-face {
    font-family: "viddyoze";
    src:url("../fonts/viddyoze.eot");
    src:url("../fonts/viddyoze.eot?#iefix") format("embedded-opentype"),
    url("../fonts/viddyoze.woff") format("woff"),
    url("../fonts/viddyoze.ttf") format("truetype"),
    url("../fonts/viddyoze.svg#viddyoze") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "viddyoze" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "viddyoze" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "a";
}
.icon-close:before {
    content: "b";
}
.icon-play:before {
    content: "c";
}
.icon-settings:before {
    content: "e";
}
.icon-movies:before {
    content: "d";
}
.icon-drop:before {
    content: "f";
}
.icon-images:before {
    content: "g";
}
.icon-play-round:before {
    content: "h";
}
.icon-checked:before {
    content: "i";
}
.icon-unchecked:before {
    content: "j";
}
.icon-text:before {
    content: "k";
}