html {
    background: url('../images/hand-phone-bg.jpg');
    background-size: cover;
}
body {
    background: url('../images/stripe.png');
    background-size: 3px;
}
.vid-login {
    width: 360px;
    background-color: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 2.5px 4.3px 49px rgba(69, 60, 60, 0.75);
    -webkit-box-shadow: 2.5px 4.3px 49px rgba(69, 60, 60, 0.75);
    box-shadow: 2.5px 4.3px 49px rgba(69, 60, 60, 0.75);
    overflow: hidden;
    position: relative;
}
h2 {
    color: #7B7B7B;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 20px;
}

/* Removing bootstrap styles */
.margin-stick .input-group {
    margin: 0 -20px;
}
.margin-stick .full-button {
    margin: 0 -30px -20px;
}
.input-group {
    width: 100%;
    position: relative;
}
.input-group .input-group-addon {
    position: absolute;
    left: 1px;
    top: 10px;
    z-index: 1;
}
.input-group .input-group-addon + .form-control {
    padding: 21px 20px 18px 55px;
    height: auto;
    background: rgba(255, 255, 255, .6);
    position: relative;
    z-index: 2;
}

.input-group * {
    border: 0;
    background: white;
    box-shadow: none;
}
input {
    font-family: 'Source Sans Pro', sans-serif;
}
.vid-login h2 + .input-group .form-control {
    border-top: 0;
}
.input-group .form-control {
    border-bottom: 4px solid transparent;
    border-top: 1px solid #ddd;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.input-group .form-control:focus {
    border-bottom-color: #333;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}
.input-group-addon {
    width: 37px;
    text-align: center;
    padding: 12px 0 12px 21px !important;
}
.forgotten-link {
    position: absolute;
    bottom: 82px;
    right: 20px;
    z-index: 9000;
    color: #ccc;
}
.quick-register h2 {
    color: white;
}

.vertical-holder,
.vertical-holder .row {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.vertical-holder {
    padding: 1%;
    position: absolute;
    height: 50%;
}
.login-holder {
     width: 100%;
     top: 50%;

 }
.login-holder .row {
    display: block;
    padding-top: 10%;
    position: relative;
    top: 40%;
}

.forgot-holder {
    width: 100%;
    top: 50%;
    z-index: 21;
    display: none;
}
.forgot-holder .row {
    display: block;
    padding-top: 10%;
    position: relative;
    top: 40%;
    margin-top: -4px;
    margin-left: 11px;
}

.register-holder {
    width: 100%;
    top: 50%;
    z-index: 21;
    display: none;
}
.register-holder .row {
    display: block;
    padding-top: 10%;
    position: relative;
    top: 40%;
    margin-top: -15px;
    margin-left: -15px;
}
/* Secondary background image */
.happy-people {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/happy-people.jpg");
    background-size: cover;
    z-index: 19;
    display: none;
}

/* Logo */
.viddyoze-logo {
    color: white;
    height: 70px;
    padding-bottom: 0;
    position: relative;
    top: 20px;
}

.image-section {
    padding-left: 50px;
    padding-top: 40px;
    color: white;
    text-align: center;
}
.image-input-avatar {
    border: 2px dashed white;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 30px auto;
    line-height: 180px;
}
.image-input-avatar .fa {
    font-size: 48px;
    color: #98c922;
}